<div class = "chat-header">
<%# チャットのルーム名とチャットを終了するボタンが表示されている箱である %>
  <div class = "left-header">
<%# チャットルーム名を示す箱である %>
    satoshi
  </div>
  <div class = "right-header">
<%# チャット終了ボタンの箱である %>
    <a href = "#">チャットを終了する</a>
  </div>
</div>

<div class = "messages">
  <%= render partial: "message", collection: @messages %>
<%# メッセージ内容を管理するための_message.html.erbを呼び出している %>
<%# @messagesにはチャットルームに紐づくmessagesテーブルのレコード全てが入っている %>
<%# そのレコードの数だけ_message.html.erbが展開される %>
<%# _message.html.erb内で@messagesのレコード1つをmessageという変数で扱うことができる %>
</div>


<%= form_with model: [@room, @message], class: "form", local: true do |f| %>
<%# 入力欄と画像添付ボタンと送信ボタンを持つ箱である %>
  <div class = "form-input">
<%# 入力欄と画像を添付ボタンを持つ箱である %>
    <%= f.text_field :content, class: "form-message", placeholder: "入力する" %>
    <label class = "form-image">
      <div class = "image-file">画像</div>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "form-submit" %>
<% end %>
