<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp100</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%# href属性を使ってCSSとして指定したURLを表示させる %>
    <%# そのURLの種類がCSSに関係するstylesheetであるためrel属性でstylesheetを指定している %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
